header {
  .mainHeader
  {
    width: 100%;
    overflow: hidden;
  }

  .avatar
  {
    float: left;
    width: 10%;
    margin: auto;
    margin-top: 10px;
    margin-left:15px;
  }

  p{
    margin-top: -3px;
    margin-left: -5px;
    font-size: 11px;
    text-align: center;
  }

  .headLogo
  {
    float: left;
    width: 64%;
    margin: auto;
  }

  .headLogo img
  {
    width: 150px !important;
    margin: auto;
    margin-top: 3px;
  }

  .bar
  {
    float: right;
    width: 13%;
    margin: auto;
    margin-top: 20px;
    margin-right:5px;
  }
}
