<!-- Generated template for the HeaderComponent component -->
<div class="mainHeader">
    <div class="avatar">
        <img src="images/home/avatar.png" style="width:90%"/>
        <p>{{userName}}</p>
    </div>

    <div class="headLogo" align="center">
        <img src="images/home/head_logo.png" style="width: 70%"/>
    </div>

    <div class="bar" menuToggle side="right">
        <img src="images/home/side_bar.png" style="width: 70%"/>
    </div>

</div>
