<!-- Generated template for the EditRowComponent component -->
<div>
    <div class="fullRow">
        <div class="nonEditRow" *ngIf="!isOpen" (click)="editRow()">
            <div class="rowRight">
                {{Title}} : {{Data[jsonKey]}}
            </div>
            <div class="rowLeft">
                <img src="images/edit.png" style="width: 100%">
            </div>
        </div>
        <div class="EditRow" *ngIf="isOpen">
            <img src="images/edit.png" class="absoluteEditButton" (click)="editRow()">
            <input type="text" class="inputText MT10" value="" [(ngModel)]="Data[jsonKey]"
                   placeholder="הכנס סיסמה "/>
        </div>
    </div>
</div>
