<!-- Generated template for the FooterComponent component -->
<div>
  <table>
      <tr>
          <td (click)="NavigatePage(5)">
              <img src="images/home/fi3.png" class="borderLeft" style="width: 100%" />
          </td>
          <td>
              <img src="images/home/fi2.png" style="width: 100%" />
          </td>
          <td>
              <img src="images/home/fi1.png" style="width: 100%" />
          </td>
      </tr>
  </table>
</div>
